.root{
    -fx-background-color: linear-gradient(to top right,
    cyan, blue, orange, yellow, greenyellow, indigo, red);
}
.github{
    -fx-background-color: white;

}
.backbutton{
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-border-color: cyan;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-cursor: hand;
}
.backbutton:hover{
    -fx-border-color: rgb(141, 8, 141);
    /* -fx-background-color: linear-gradient(to right,
    cyan, blue, orange, yellow, greenyellow, indigo, red); */

    -fx-text-fill: #fad819;
}
