.root {
    -fx-padding: 10; /* Add a small padding around the window */
    padding: 10;     /* duplicated for compatibility */
    -fx-background-color: #080705;
}

.Button {
    -fx-background-color: yellow;
    -fx-background-radius: 10;
    -fx-cursor: hand;

}